body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-image: url(images/shoes.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

img {
  float: right;
}

h1{
  padding-top: :300px
  color: black;
}

h2 {
  padding-top: 50px;
  color: darkgrey;
}

h3{
  padding-top: 50px
  color: white;
}

p{
  padding-top: 30px;
  color: white;
}


.module {
  background: url(images/blacksqr.jpg);
  background-attachment: fixed;
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: 90px;
}
.module > header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;





#contact_info {
  clear: both;
  background-color: aliceblue;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border: 1px solid aliceblue;
  margin-top: 1px;
}


#wrapper {
  width: 960px;
  margin: 20px auto;
}