body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: lightgrey
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}


.module {
  background: url(images/blacksqur.jpg);
  background-attachment: fixed;
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: 90px;
}
.module > header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;


.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

h1{
  padding-top: :300px
  color: black;
}

h3 {
  padding-top: 50px;
  color: darkgrey;
}


p{
  padding-top: 30px;
  padding-right:90px;
  color: black;
}


#wrapper {
  width: 960px;
  margin: 20px auto;
}